<html>
    <head>
        <meta charset="utf-8"   >
        <title>LapikuR - a</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% block head %}{% endblock %}
    </head>
    <header>
        <nav>
            <div class="nav-wrapper container">
            <a href="/" class="brand-logo">LaPikuR</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Accueil</a></li>
                <li><a href="/pathologiePrincipales">Pathologie(s) Principales</a></li>
                <li><a href="/pathologieCriteres">Pathologie(s) via Critere(s)</a></li>
                <li><a href="/pathologieSymptomes">Pathologie(s) via Symptome(s)</a></li>
                
            </ul>
            </div>
        </nav>
    </header>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>