<html>
    <head>
        <title>LapikuR</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../styles/materialize.min.css"  media="screen,projection"/>
        <!--Scripts-->
        <script src="../scripts/main.js"></script>
    </head>

    <header>
        <nav class="nav1">
        </nav>
    </header>

    <body onload="fillHeader()">
        <div id="crit-meridien">
            <label>Browser Select</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
        </div>
        <div id="crit-type-path">

        </div>
        <div id="crit-carac">

        </div>
        <div id="symptome">

        </div>
    </body>
</html>