{% extends 'layout.twig' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="public/styles/credits.css"/>
{% endblock %}

{% block content %}
<body>
    <div class="cont y mandatory-scroll-snapping">
        <div class="vert">
            <h1>Crédit</h1>
            <p>Vous avez du vous perdre... Mais bienvenu dans les Crédits. </br> Vous trouverez ici tous les sites web qui nous ont servis pour faire le site <b>LaPikuR</b>.</p>
            <!-- volé a qqn sur internet... MERCI <3 -->
            <div class="scroll-down"></div>
        </div>
        <div class="jaune">
            <h1 id="w3schools" class="title-site">w3schools</h1>
            <img src="" class="logo-site">
            <p class="info-site">Nous a rappelé toutes les syntaxes html js css ou php. <a href="https://www.w3schools.com/">https://www.w3schools.com/</a></p>
            
        </div>
        <div class="bleu">
            <h1 id="#Grafikart" class="title-site">Grafikart</h1>
            <img src="" class="logo-site">
            <p class="info-site">Juste le BEST <a href="https://grafikart.fr/">https://grafikart.fr/</a></p>
            
        </div>
        <div class="rose" >
            <h1 class="title-site">OpenClassRoom</h1>
            <img src="" class="logo-site">
            <p class="info-site">Ca nous a certainement été utile ... <a href="https://openclassrooms.com/fr/">https://openclassrooms.com/fr/</a></p>
            
        </div>
        <div class="vert"  >
            <h1 class="title-site">MaterializeCSS</h1>
            <img src="" class="logo-site">
            <p class="info-site">Materialize pour toute la partie Graphique. <a href="https://materializecss.com">https://materializecss.com</a></p>
            <p class="notrecommended" >ON NE RECOMMANDE PAS !</p>
            
        </div>
        <div class="gris" >
            <h1 class="title-site">Twig symfony</h1>
            <img src="" class="logo-site">
            <p class="info-site">Moteur de template <a href="https://twig.symfony.com/">https://twig.symfony.com/</a></p>
            
        </div>
        <div class="jaune" >
            <h1 class="title-site">Php.net</h1>
            <img src="" class="logo-site">
            <p class="info-site">Documentation principale de php. <a href="https://www.php.net/">https://www.php.net/</a></p>
            
        </div>
        <div class="rose" >
            <h1 class="title-site">Utile dans le projet:</h1>
            <img src="" class="logo-site">
            <p class="info-site"> Je sais pas j'ai plus d'idée...</p>
            
        </div>
        
    </div>
</body>
{% endblock %}