{% extends 'layout.twig' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="public/styles/credits.css"/>
{% endblock %}

{% block content %}
<body>
    
    <section id="info" >
        <h1>Crédit</h1>
        <p>Vous vous trouvez ici dans les crédits de notre site web, <b>LaPikuR</b></p>
        <div class="scroll-down"></div>
    </section>
    <section id="phpnet" class="site" >
        <h1 class="title-site">Application</h1>
        <img src="" class="logo-site">
        <p class="info-site">Vous vous trouvez ici dans les crédits de notre site web, <b>LaPikuR</b></p>
        <div class="scroll-down"></div>
    </section>
    <section id="grafikart" class="site" >
        <h1 class="title-site">Grafikart</h1>
        <img src="" class="logo-site">
        <p class="info-site">Vous vous trouvez ici dans les crédits de notre site web, <a href="https://grafikart.fr/">https://grafikart.fr/</a></p>
        <div class="scroll-down"></div>
    </section>
    <section class="site" >
        <h1 class="title-site">Application</h1>
        <img src="" class="logo-site">
        <p class="info-site">Vous vous trouvez ici dans les crédits de notre site web, <b>LaPikuR</b></p>
        <div class="scroll-down"></div>
    </section>
    <section class="site" >
        <h1 class="title-site">Application</h1>
        <img src="" class="logo-site">
        <p class="info-site">Vous vous trouvez ici dans les crédits de notre site web, <b>LaPikuR</b></p>
        <div class="scroll-down"></div>
    </section>
    <section class="site" >
        <h1 class="title-site">Application</h1>
        <img src="" class="logo-site">
        <p class="info-site">Vous vous trouvez ici dans les crédits de notre site web, <b>LaPikuR</b></p>
        <div class="scroll-down"></div>
    </section>
</body>
{% endblock %}