{% extends 'layout.twig' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}

{% block content %}

<div class="container">
    <h1>Login</h1>
    <div id="signin" class="row">
        <form action="./view/php/login.php" method="POST" class="col s10">
            <div class="row">
                <div class="input-field col s5">
                    <input name="ident" id="ident" type="text">
                    <label for="ident">Identifiants</label>
                </div>
                <div class="input-field col s5">
                <input name="password" id="password" type="password">
                <label for="password">Password</label>
                </div>
            </div>
            <div class="center">
                <button class="btn" type="submit">Connexion</button> 
                <button class="btn" type="submit">S'Enregistrer</button>
            </div>
        </form>
    </div>
    <h1>Register</h1>
    <div id="signup" class="row">
        <form action="./view/php/register.php" method="POST" class="col s10" >
            <div class="row">
                <div class="input-field col s3">
                    <input name="ident_reg" id="ident_reg" type="text" class="validate" minlength="4" required>
                    <label for="ident_reg">Identifiants</label>
                </div>
                <div class="input-field col s4">
                    <input name="mail" id="email_reg" type="email" class="validate" required>
                    <label for="email_reg">E-Mail</label>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <input name="password_reg" id="password_reg" type="password" class="validate" minlength="8" required>
                        <label for="password_reg">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="center">
                        <button class="btn" type="submit" >S'Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}