<html>
    <head>
        <title>LapikuR</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>

    </head>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">NavBar</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                    <li><div class="loggin">
                        <form method="POST">
                            <input id="identifiants" class="validate" type="text">
                            <input id="password" class="validate" type="password">
                            <input id="val" class="validate" type="button" value="Se connecter">
                        </form>
                    </div></li>
                </ul>
                
            </div>
        </nav>
    </header>
    <body>
        <h1>Main page</h1>



    </body>
    <footer>
        <h5>Wow trop fort !</h5>
    </footer>
</html>