{% extends 'layout.twig' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}

{% block content %}

    {% if error is defined %}
        <blockquote>{{error}}</blockquote>
    {% endif %}
    {% if success is defined %}
        <blockquote>{{success}}</blockquote>
    {% endif %}
    <div class="center">
    <h1>Bonjour {{ session_name }}</h1>
    </div>

{% endblock %}