<html>
    <head>
        <meta charset="utf-8"   >
        <title>LapikuR</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% block head %}{% endblock %}
    </head>
    <header>
        <nav>
            <div class="nav-wrapper container">
            <a href="?p=index" class="brand-logo">LaPikuR</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="?p=index">Accueil</a></li>
                <li><a href="?p=pathologies">Pathologies</a></li>
                <li><a href="?p=criteres">Criteres</a></li>
            </ul>
            </div>
        </nav>
    </header>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>