{% extends 'layout.twig' %}

{% block head %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="public/styles/pathologies_C.css"/>
{% endblock %}

{% block content %}
    <ul class="collapsible">
        {% for pathologie in pathologies %}
            <li>
                <div class="collapsible-header"><i class="material-icons">transfer_within_a_station</i>{{ pathologie.desc }}</div>
                <div class="collapsible-body">
                    <ul>
                        {% for symptome in symptomes %}
                            {% if pathologie.idP == symptome.idP %}
                                <li>{{ symptome.desc }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="row">
        <div id="crit-meridien">
            <div class="input-field col s2 offset-m2">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Meridien</label>
            </div>
        </div>

        <div id="crit-type-path">
            <div class="input-field col s2">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Type de pathologie</label>
            </div>
        </div>

        <div id="crit-carac">
            <div class="input-field col s2 ">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Caractéristique</label>
            </div>
        </div>

        <div id="symptome">
            <div class="input-field col s2">
                <select multiple>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Symptômes</label>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('select').material_select();
        });
        $(document).onload(function(){
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}